USE [master]
GO
/****** Object:  Database [Emelyanenko_AdManagement]    Script Date: 26.11.2025 13:49:28 ******/
CREATE DATABASE [Emelyanenko_AdManagement];
GO
USE [Emelyanenko_AdManagement];
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Emelyanenko_AdManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Emelyanenko_AdManagement]
GO
/****** Object:  Table [dbo].[Ad_Statuses]    Script Date: 26.11.2025 13:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad_Statuses](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ad_Types]    Script Date: 26.11.2025 13:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad_Types](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ads_Data]    Script Date: 26.11.2025 13:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ads_Data](
	[user_login] [nvarchar](50) NOT NULL,
	[user_password] [nvarchar](50) NOT NULL,
	[ad_title] [nvarchar](50) NOT NULL,
	[ad_description] [nvarchar](50) NOT NULL,
	[ad_post_date] [date] NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[ad_type] [nvarchar](50) NOT NULL,
	[ad_status] [nvarchar](50) NOT NULL,
	[price] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adverts]    Script Date: 26.11.2025 13:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adverts](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Ad_Title] [varchar](250) NOT NULL,
	[Ad_Description] [varchar](500) NOT NULL,
	[Ad_Post_Date] [date] NOT NULL,
	[CityID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Ad_TypeID] [int] NOT NULL,
	[Ad_StatusID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[PhotoPath] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 26.11.2025 13:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 26.11.2025 13:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.11.2025 13:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[User_Login] [varchar](250) NOT NULL,
	[User_Password] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ad_Statuses] ON 

INSERT [dbo].[Ad_Statuses] ([ID], [Name]) VALUES (0, N'Активно')
INSERT [dbo].[Ad_Statuses] ([ID], [Name]) VALUES (1, N'Завершено')
SET IDENTITY_INSERT [dbo].[Ad_Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Ad_Types] ON 

INSERT [dbo].[Ad_Types] ([ID], [Name]) VALUES (0, N'Аренда')
INSERT [dbo].[Ad_Types] ([ID], [Name]) VALUES (1, N'Продажа')
INSERT [dbo].[Ad_Types] ([ID], [Name]) VALUES (2, N'Услуга')
SET IDENTITY_INSERT [dbo].[Ad_Types] OFF
GO
INSERT [dbo].[Ads_Data] ([user_login], [user_password], [ad_title], [ad_description], [ad_post_date], [city], [category], [ad_type], [ad_status], [price]) VALUES (N'user18', N'pass18', N'Продажа дома', N'Участок 10 соток, все коммуникации', CAST(N'2025-05-04' AS Date), N'Новосибирск', N'Недвижимость', N'Продажа', N'Активно', 21362)
INSERT [dbo].[Ads_Data] ([user_login], [user_password], [ad_title], [ad_description], [ad_post_date], [city], [category], [ad_type], [ad_status], [price]) VALUES (N'user9', N'pass9', N'Уборка квартир', N'Генеральная уборка, моем окна', CAST(N'2025-04-26' AS Date), N'Москва', N'Услуги', N'Услуга', N'Завершено', 87371)
INSERT [dbo].[Ads_Data] ([user_login], [user_password], [ad_title], [ad_description], [ad_post_date], [city], [category], [ad_type], [ad_status], [price]) VALUES (N'user16', N'pass16', N'Уборка квартир', N'Генеральная уборка, моем окна', CAST(N'2025-03-09' AS Date), N'Казань', N'Услуги', N'Аренда', N'Завершено', 85947)
GO
SET IDENTITY_INSERT [dbo].[Adverts] ON 

INSERT [dbo].[Adverts] ([ID], [UserID], [Ad_Title], [Ad_Description], [Ad_Post_Date], [CityID], [CategoryID], [Ad_TypeID], [Ad_StatusID], [Price], [PhotoPath]) VALUES (0, 9, N'Продажа дома', N'Участок 10 соток, все коммуникации', CAST(N'2025-05-04' AS Date), 3, 1, 1, 0, 21362, NULL)
INSERT [dbo].[Adverts] ([ID], [UserID], [Ad_Title], [Ad_Description], [Ad_Post_Date], [CityID], [CategoryID], [Ad_TypeID], [Ad_StatusID], [Price], [PhotoPath]) VALUES (1, 19, N'Уборка квартир', N'Генеральная уборка, моем окна', CAST(N'2025-04-26' AS Date), 2, 3, 2, 1, 87371, NULL)
INSERT [dbo].[Adverts] ([ID], [UserID], [Ad_Title], [Ad_Description], [Ad_Post_Date], [CityID], [CategoryID], [Ad_TypeID], [Ad_StatusID], [Price], [PhotoPath]) VALUES (2, 7, N'Уборка квартир', N'Генеральная уборка, моем окна', CAST(N'2025-03-09' AS Date), 1, 3, 0, 1, 85947, NULL)
SET IDENTITY_INSERT [dbo].[Adverts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name]) VALUES (0, N'Авто')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (1, N'Недвижимость')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (2, N'Одежда')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([ID], [Name]) VALUES (0, N'Екатеринбург')
INSERT [dbo].[Cities] ([ID], [Name]) VALUES (1, N'Казань')
INSERT [dbo].[Cities] ([ID], [Name]) VALUES (2, N'Москва')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [User_Login], [User_Password]) VALUES (0, N'user1', N'pass1')
INSERT [dbo].[Users] ([ID], [User_Login], [User_Password]) VALUES (1, N'user10', N'pass10')
INSERT [dbo].[Users] ([ID], [User_Login], [User_Password]) VALUES (2, N'user11', N'pass11')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__72457CADBCFC0E14]    Script Date: 26.11.2025 13:49:28 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[User_Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD FOREIGN KEY([Ad_StatusID])
REFERENCES [dbo].[Ad_Statuses] ([ID])
GO
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD FOREIGN KEY([Ad_TypeID])
REFERENCES [dbo].[Ad_Types] ([ID])
GO
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([ID])
GO
ALTER TABLE [dbo].[Adverts]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
USE [master]
GO
